spring:
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
  datasource:
    url: jdbc:mariadb://${DB_HOST}:3306/${DB_NAME}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&useLegacyDatetimeCode=false&useUnicode=yes&characterEncoding=UTF-8&serverTimezone=UTC
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    tomcat:
      test-on-borrow: true
      validation-query: SELECT 1
      test-while-idle: true
      validation-interval: 30000
    driver-class-name: org.mariadb.jdbc.Driver
  data:
    jdbc:
      dialect: maria
  jpa:
    properties:
      hibernate:
        column_ordering_strategy: legacy
        order_inserts: true
        order_updates: true
        jdbc:
          batch_size: 10
          time_zone: UTC
          batch_versioned_data: true
        format_sql: true
        use_sql_comments: true
    open-in-view: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
      ddl-auto: update
    show-sql: false
  sql:
    init:
      mode: always

#============ AWS Credentials ============
aws:
  access_key: ${AWS_ACCESS_KEY:}
  secret_key: ${AWS_SECRET_KEY:}
  session_token: ${AWS_SESSION_TOKEN:}
  region: ${AWS_REGION:eu-west-1}
  profile: ${AWS_PROFILE:}
  secret:
    prefix: ${AWS_SECRET_PREFIX:staging/azerion_mc/backend}

#============ JOB Schedule ============
batch_job:
  aws_billing_data:
    corn: '0 5 */2 * * *'
    enabled: false
    secret_path: azerion_mc/billing/secrets/aws
  external_aws_billing_data:
    corn: '0 10 */2 * * *'
    enabled: false
    secret_path: azerion_mc/billing/secrets/aws
  exceptional_aws_billing_data:
    corn: '0 10 */2 * * *'
    enabled: false
    secret_path: azerion_mc/billing/secrets/aws
  gcp_billing_data:
    corn: '0 2 */2 * * *'
    enabled: false
    secret_path: azerion_mc/billing/secrets/internal/gcp
  huawei_billing_data:
    corn: '0 1 */2 * * *'
    enabled: false
    secret_path: azerion_mc/billing/secrets/internal/huawei
  external_huawei_billing_data:
    corn: '0 1 */2 * * *'
    enabled: false
    secret_path: azerion_mc/billing/secrets/external/huawei
  merge_billing:
    corn: '0 30 */2 * * *'
    enabled: false
  monthly_invoice:
    corn: '0 0 1 * * *'
    enabled: false
  daily_org_pricing_update:
    corn: '0 0 1 * * *'
    enabled: false