<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragment/fragments :: head}"></head>
<body>

<header th:replace="~{fragment/fragments :: header}"></header>

<main class="container main">

    <h2 class="section-title">List of Jobs</h2>

    <div
            style="display: flex; justify-content: space-between; align-items: center;"
    >
        <div class="date-picker-container" style="margin: 10px 0;">
            <label for="startDate" style="margin-right: 10px;">Select Start Date For Job:</label>
            <input type="date"
                   id="startDate"
                   name="startDate"
                   style="padding: 5px; border-radius: 4px; border: 1px solid #ccc;"
            />
            <button onclick="clearDate()" style="margin-left: 10px; padding: 5px 10px; cursor: pointer;">
                Clear
            </button>
        </div>

        <div th:if="${jobName}" class="alert alert-info">
            <b th:text="${jobName}"/>:
            <span th:text="${msg}"/>
        </div>

    </div>

    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Last Execution Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.name()}"></td>
                <td th:text="${job.status()}"></td>
                <td>
                    <span
                            id="startButton"
                            class="btn btn-start"
                            th:attr="data-job-name=${job.name()}"
                            th:classappend="${job.isRunning()} ? ' disabled' : ''"
                            onclick="handleStartClick(this)"
                            style="cursor: pointer;"
                    >
                        Start
                    </span> |
                    <a th:href="@{'/jobs/stop/' + ${job.name()}}"
                       class="btn btn-stop"
                       th:classappend="${job.isRunning()} ? '' : ' disabled'"
                    >
                        Stop
                    </a> |
                    <a th:href="@{'/jobs/restart/' + ${job.name()}}"
                       class="btn btn-restart"
                       th:classappend="${job.status() == 'FAILED' || job.status() == 'STOPPED'} ? '' : ' disabled'"
                    >
                        Restart
                    </a> |
                    <a class="btn btn-details"
                       th:href="@{'/jobs/' + ${job.name()}}">
                        Details
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script th:inline="javascript">

        function handleStartClick(element) {

            if (element.classList.contains('disabled')) {
                return false;
            }

            // Get the selected date
            const selectedDate = document.getElementById('startDate').value;

            // Get a job name
            const jobName = element.getAttribute('data-job-name');

            // Build URL
            let url = '/jobs/start/' + jobName;

            // Add query parameter only if the date is selected
            if (selectedDate) {
                url += '?startDate=' + selectedDate;
            }

            // Navigate to URL
            window.location.href = url;

        }

        function clearDate() {
            document.getElementById('startDate').value = '';
        }

    </script>

</main>

<!-- FOOTER -->
<footer th:replace="~{fragment/fragments :: footer}"></footer>

</body>
</html>